
@font-face{
	font-family: "Typo Draft";
	font-weight: bold;
	src: url('/typo_draft.otf') format("opentype");
}


@font-face{
	font-family: "Petit";
	font-weight: bold;
	src: url("/petit.ttf") format("truetype");
}

html, body{
	margin: 0;
	body: 0;
	min-height: 100vh;
	font-size: 24px;
}

.home {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	a{
		font-size: 12rem;
		font-family: "Typo Draft", serif;
		color: black;
		text-decoration: none;
		transition: .2s;

		&:hover{
			color: blue;
		}
	}
}

.about{
	width: 50%;
	margin: auto;
	padding: 2rem 0;
	font-family: "Petit", serif;

	p{
		line-height: 2;
	}
}
